.App {
  text-align: center;
}
.tulos1{

  background-color: #2BF04D;
  color: #002ed4;
  margin: 3em;
  padding: 1em;
}
.tulos2{

  background-color: #EBDC23;
  color: #972b00;
  margin: 3em;
  padding: 1em;
}
.tulos3{

  background-color: #EBA631;
  color: #8c3400;
  margin: 3em;
  padding: 1em;
}
.tulos4{

  background-color: #EB3423;
  color:#e1ae21;
  margin: 3em;
  padding: 1em;
}
.tulos5{

  background-color: #7E1500;
  color: #ea2907;
  margin: 3em;
  padding: 1em;
}

